html body{
  padding: 0;
  margin: 0;
}
nav{
  border-width: thick;
  border-style: solid;
  border-color: #000;
  padding: 63px;
}
nav ul{
  margin-left: 25%;
}
nav ul li{
  display: inline-block;
  list-style: none;
  padding-left: 25px;
  font-size: 2.5em;
}
a:hover, a:visited, a:link, a:active{
  color: #000;
}
#logo{
  position: absolute;
  left: -20px;
  top: 5px;
}
article div{
  width: 50%;

}
