html body{
  padding: 0;
  margin: 0;
  height: 100%;
}
nav{
  border-width: thick;
  border-style: solid;
  border-color: #000;
  width: 100%;
  height: 5em;
}
article div h1{
  text-align: center;
}
.contact, .socialmedia{
  display: inline-block;
}
.socialmedia{
  text-align: center;
}

.container{
  margin: 0 auto;
  text-align: center;
  width: 75%;
}
.panel{
  width: 100%;
  margin: auto 0;
  text-align: center;
}
.panel-body{
  padding-left: 13%;
  text-align: center;
}
.panel-body ul li{
  list-style: none;
}
#logo{
  position: absolute;
  top: 0;
  left: 35%;
  z-index: 2;
}
#carousel{
  margin: 0 auto;
  width: 100%;
}

#carousel-background{
  z-index: 1;
  background-color: #90A152;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  position: relative;
}
#content{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  margin-top: 5em;
  padding-bottom: 4em;
  position: relative;
  z-index: 1;
}
.row{
  margin: 0 auto;
  width: 100%;
}
.images{
  max-width: 30%;
  max-height: 30%;
}
.contain-me {
   position: relative;
   padding-bottom: 58.25%;
   padding-top: 35px;
   height: 0;
   overflow: hidden;
}
.lunch, .dinner {
   overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 20em;
    max-width: 60em;
}

.contain-me iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-content{
  position: relative;
}
.archie{
  max-width: 100%;
  max-height: 100%;
}
#timeline-content{
  text-align:center;
}
#special-info{
  text-align: center;
  margin-left: 3em;
}
#logotest{
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
footer div{
  width: 100%;
  height: 30px;
}
