html {
  font-family: sans-serif;
}
body{
  background-color: #FFF;
  background-image: url("../images/reblur.jpg");
}
nav{
  font-family: Helvetica, "Ubuntu", sans-serif;
  align-content: center;
  position: relative;
  display: table;
  background-color: #000;
}
#navbar{
  background-color: #000;
  z-index: 3;
  width: 100%;
  position: relative;
  width: 100%;
}
nav p{
  font-size: 150%;
  color: black;
  text-align: center;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}

nav ul li{
  color: #FFF;
  font-size: 200%;
  font-weight: bolder;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
}

a:hover, a:visited, a:link, a:active{
  color: #000;
}

.contact li, .socialmedia li{
  list-style: none;
}
#yelp{
  max-width: 60px;
  height: auto;
}

#logoSize{
  min-width: 40%;
  max-width: 80%;
  min-height: auto;
  max-height: auto;
}
.carousel{
  max-height: 100%;
  min-width: 100%;
}
.carousel-inner img {
  margin: 0 auto;
  min-width: 6em;
  max-width: 6em;
  min-height: 20em;
  max-height: 20em;
}

article div{
  background-color: #FFF;
}
footer div{
  background-color: #fff;
}
