html {
  font-family: sans-serif;
}
body{
  background-color: #FFF;
}
nav{
  font-family: Helvetica, "Ubuntu", sans-serif;
  background-color: #317A8C;
}
#top-part{
  background-color: #E6AE25;
}
header{
  color: black;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 0.6px;
   -webkit-text-stroke-color: black;
}
header p{
  text-indent: 100px;
}
nav ul li{
  color: #FFF;
  font-size: 2em;
  font-weight: bolder;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
}

a:hover, a:visited, a:link, a:active{
  color: #000;
}

.contact li, .socialmedia li{
  list-style: none;
}

#yelp{
  max-width: 60px;
  height: auto;
}

#logoSize{
  width: 305px;
  height: 205px;
  border: solid black thick;
}
.carousel-inner img {
  margin: auto;
  min-width: 650px;
  min-height: 500px;
  max-height: 500px;
}
#carousel{
  margin-top: 80px;
}
article div{
  background-color: #FFF;
}
footer div{
  background-color: #fff;
}
