html {
  font-family: sans-serif;
}
body{
  background-color: #FFF;
  background-image: url("../images/reblur.jpg");
}
nav{
  font-family: Helvetica, "Ubuntu", sans-serif;
  background-color: #000;
  width: 100%;
}
#navbar{
  background-color: #000;
  z-index: 3;
  width: 100%;
}
nav p{
  font-size: 1.5em;
  text-align: center;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}
header{
  color: black;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  height: 11em;

}
nav ul li{
  color: #FFF;
  font-size: 2em;
  font-weight: bolder;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
}

a:hover, a:visited, a:link, a:active{
  color: #000;
}

.contact li, .socialmedia li{
  list-style: none;
}

#yelp{
  max-width: 60px;
  height: auto;
}

#logoSize{
  min-width: 40%;
  max-width: 80%;
  min-width: auto;
  max-height: auto;
}
#leftSide{
  width: 50%;
  height: 97.9%;
  margin-left: -50%;
  display: inline-block;
  position: relative;
}
#leftGreen{
  height: 53.3%;
}
#rightSide{
  width:50%;
  right: 0;
  top: 0;
  height: 40%;
  display: inline-block;
  position: absolute;
}
#rightYellow{
  height: 51.3%;
}

.yellow{
  background-color: #FFF200;
  position: relative;
  display: block;
  border-bottom: solid #C14259 2.9px;
  width: 100%;
  height: 50%;
  z-index: 0;
}
.green{
  background-color: #00A651;
  position: relative;
  display: block;
  border-top: solid #C14259 1px;
  width: 100%;
  height: 30%;
  z-index: 0;
}
.carousel-inner img {
  margin: 0 auto;
  min-width: 250px;
  max-width: 250px;
  min-height: 300px;
  max-height: 300px;
}
#carousel{
  margin-top: 20em;
  width: 50;
}
article div{
  background-color: #FFF;
}
footer div{
  background-color: #fff;
}