html {
  font-family: sans-serif;
}
body{
  background-color: #FFF;
    max-width: 100%;
}
nav {
  font-family: Helvetica, "Ubuntu", sans-serif;
  background-color: #317A8C;
  border-width: thick;
  border-style: solid;
  border-color: #000;
  padding: 3.5em;
  height: /*6em*/ 10px;
  display:block;
  max-width: 10%;
  word-wrap: break-word;
}

nav ul, #nav {
  margin: 0 auto;
  margin-left: 15%;
    position: static;
    overflow;
    clear: left;
    padding-left: -10px;
    max-width: 100%;
   
    display: block;
    word-wrap: break-word;
    
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 10%;
}
article {
    text-align: center;
}

#logo {
  position: absolute;
  left: -130px;
  top: -1px;
  border-right: none;
  z-index: 2
}
.contact, .socialmedia {
  display: inline-block;
}

.socialmedia {
  text-align: center;
  position: absolute;
  margin-left: 100px;
  width: 30%;
}

article div h1 {
  text-align: center;
}

#top-part {
  background-color: #E6AE25;
}

header {
  color: black;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 0.6px;
   -webkit-text-stroke-color: black;
}

heading p, #hours {
  text-indent: 100px;
    padding-right: 80px;
    padding-left: 140px;
    position: relative;
    float: none;
    overflow:visible;
    clear:left;
    display: fixed;
}

nav ul li {
  color: #FFF;
  font-size: 2em;
  font-weight: bolder;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
}

#content {
    margin: 2.2em;
    padding: 4em;
    position: relative;
    align-content: center;
    
}     

a:hover, a:visited, a:link, a:active{
  color: #000;
}

.contact li, .socialmedia li{
  list-style: none;
}

#yelp{
  max-width: 60px;
  height: auto;
}

#logoSize{
  width: 305px;
  height: 205px;
  border: solid black thick;
}
.carousel-inner img {
  margin: auto;
  min-width: 650px;
  min-height: 500px;
  max-height: 500px;
}

#carousel {
  margin: 0 auto;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 110px;
}

#carousel-background {
  z-index: 1;
  background-color: #90A152;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

article div {
  background-color: #FFF;
}
