body{
    padding: 20px;
    outline-color:;
    outline-width:;
    padding: 20px, 30px, 20px, 30px; 
    background-color: ;
    line-height: 1.1em;
    min-width: 100%
}



#sidenav {
    margin-left: -2em;
}

#menubody {
    margin-left: 11em;
}     